body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainNavBarStyle{
  background-color: aliceblue;
  padding: 16px 32px;
}
nav a{
  margin-right: 16px;
}

.photo {
  height: 200px;
  width: 200px;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.a {
  position: relative;
  width: 200px;
  height: 600px;

}
.btn {
  cursor: pointer;
  border: 1px solid #111111;
  background-color: transparent;
  height: 200px;
  width: 400px;
  color: #3498db;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);

}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 15px;

}

.b{
  position: relative;
  width: 100px;
  height: 850px;
}

.btn_cls {
  cursor: pointer;
  border: 1px solid #111111;
  background-color: transparent;
  height: 200px;
  width: 700px;
  color: #3498db;
  font-size: 1em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.btn_class {
  cursor: pointer;
  border: 1px solid #111111;
  background-color: transparent;
  height: 500px;
  width: 300px;
  font-size: 1px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  font-family:Courier;
}
.logoutLblPos{

  height: 60px;
  width: 150px;
  background-color: transparent;
  position:fixed;
  right:100px;
  top:105px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;

}

.logoutLblPosition{
  cursor: pointer;
  height: 60px;
  width: 200px;
  background-color: transparent;
  position:fixed;
  right:100px;
  top:45px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.desc {
  cursor: pointer;
  border: 1px solid #111111;
  background-color: transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 160px;
  font-family:Courier;
}

.photo {
  height: 200px;
  width: 200px;

}

.buynow {
  cursor: pointer;
  border: 1px solid #111111;
  background-color: transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  height: 70px;
  width: 260px;
  font-family:Courier;
}

.btn_class_profile {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 400px;
  width: 200px;
  font-size: 1px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-family:Courier;

}

.btn_class_view {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 400px;
  width: 300px;
  font-size: 1px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-family:Courier;

}

.desc_class {
  cursor: pointer;
  border: 1px solid #111111;
  background-color: transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  height: 50px;
  width: 100px;
  font-family:Courier;

}

.desc_logout {
  cursor: pointer;
  border: 1px solid #111111;
  background-color: transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 160px;
  font-family:Courier;
  right:100px;
  top:45px;
}

.btn_class_del {
  cursor: pointer;
  border: 1px solid #111111;
  background-color: Lavendar;
  height: 500px;
  width: 300px;
  font-size: 1px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  font-family:Courier;
}